.navList {
  width: 1500px;
}
.navList .navUl {
  width: 276px;
  padding-top: 26px;
  background: #fff;
  float: left;
  list-style: none;
  text-align: left;
  margin-right: 9px;
  height: 100%;
}
.navList .navUl li {
  padding: 20px 0px 20px 36px;
  margin-bottom: 15px;
}
.navList .navUl li a {
  color: #8A8A8A;
  font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "Helvetica Neue", Arial;
}
.navList .navUl li img {
  vertical-align: -9px;
}
.navList .navUl .activeLi {
  border-left: 6px solid #01B1ED;
  background: #e5f8ff;
}
.navList .navUl .activeLi a {
  color: #01B1ED ;
}
.navList .messageList {
  padding-top: 26px;
  float: right;
  padding-left: 13px;
  text-align: left;
  font-size: 1rem;
  color: #333333;
  width: 1215px;
  background: #fff;
  height: 100%;
}
@media (max-width: 1500px) {
  .navList {
    width: 100%;
  }
  .navList .navUl {
    width: 17%;
  }
  .navList .messageList {
    width: 82%;
  }
}
@media (max-width: 1366px) {
  .navList {
    width: 100%;
  }
  .navList .navUl {
    width: 17%;
    margin-right: 10px;
  }
  .navList .messageList {
    width: 82%;
  }
}
