/** 2017/10/18
* @author: kj
* @description:
*/
body {
  display: block;
}
i,
b {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}
.login-page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  text-align: center;
}
.login-page .backScroll li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
.login-page .backScroll li a {
  width: 100%;
  height: 100%;
  cursor: default;
}
.login-page .login-contain {
  position: absolute;
  left: calc((100% + 359px) / 2);
  top: calc((100% - 800px) / 2);
  z-index: 20;
  width: 383px;
}
.login-page header {
  margin-top: 16.5%;
  width: 100%;
  display: block;
}
.login-page header div span {
  font-size: 16px;
  color: #7e7d7d;
}
.login-page section {
  position: relative;
  margin-top: 16.5%;
}
.login-page section nav {
  width: 290px;
  height: 288px;
  margin: 0 auto;
  /*
      扫码登录
      */
  /*
      手机号登录
      */
}
.login-page section nav .loginTab {
  height: 40px;
}
.login-page section nav .loginTab span {
  position: relative;
  width: 145px;
  font-size: 1.142857em;
  line-height: 40px;
  text-align: center;
  color: #7f7f7f;
  float: left;
  cursor: pointer;
}
.login-page section nav .loginTab span b {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -15px;
  left: 0;
  background: url("/images/loginImages/Handover_1.png");
}
.login-page section nav .loginTab span.isActive {
  color: #00b0fa;
}
.login-page section nav .loginTab span.isActive b {
  background: url("/images/loginImages/Handover_2.png");
}
.login-page section nav .scanLogin {
  padding-bottom: 30px;
}
.login-page section nav .scanLogin .codeImg {
  margin: 32px auto 10px auto;
  position: relative;
}
.login-page section nav .scanLogin .codeImg .codeMask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
.login-page section nav .scanLogin .codeImg .codeMask img {
  margin-top: 37px;
}
.login-page section nav .scanLogin .codeImg .codeMask p {
  margin-top: 10px;
}
.login-page section nav .scanLogin .codeImg .codeRefresh {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
.login-page section nav .scanLogin .codeImg .codeRefresh p {
  margin-top: 38px;
}
.login-page section nav .scanLogin .codeImg .codeRefresh button {
  outline: none;
  line-height: 1.5;
  height: 30px;
  color: #fff;
  border: none;
  background-color: #0ae;
  display: inline-block;
  margin-top: 6px;
  margin-top: 4px\0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 2px;
  padding: 0 20px;
  cursor: pointer;
}
.login-page section nav .scanLogin .codeImg .codeRefresh button:hover {
  background-color: #00a3d2;
}
.login-page section nav .scanLogin .codeImg .qrCodeImg {
  /*width: 138px;
            height: 138px;
            background: #fff;*/
}
.login-page section nav .scanLogin .codeImg .qrCodeImg canvas {
  margin-top: 6px;
}
.login-page section nav .scanLogin .codeBox {
  margin-bottom: 20px;
  color: #7f7f7f;
  height: 14px;
}
.login-page section nav .scanLogin .codeBox input {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-top: -2px;
}
.login-page section nav .scanLogin .codeBox span {
  height: 14px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  font-size: 0.857142em;
}
.login-page section nav .scanLogin .loginNotice {
  color: #7f7f7f;
}
.login-page section nav .phoneLogin {
  padding-top: 33px;
  padding-bottom: 7px;
}
.login-page section nav .phoneLogin .errorInfo {
  height: 12px;
  color: red;
  font-size: 0.857142em;
  margin-bottom: 15px;
}
.login-page section nav .phoneLogin .errorInfo .errorInfoTxt {
  display: none;
}
.login-page section nav .phoneLogin .loginItem {
  height: 40px;
  margin: 22px auto 0 auto;
  border-bottom: 1px solid #dedede;
}
.login-page section nav .phoneLogin .loginItem:first-child {
  margin-top: 0;
}
.login-page section nav .phoneLogin .loginItem ::-webkit-input-placeholder {
  color: #999;
}
.login-page section nav .phoneLogin .loginItem :-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}
.login-page section nav .phoneLogin .loginItem ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}
.login-page section nav .phoneLogin .loginItem :-ms-input-placeholder {
  color: #999;
}
.login-page section nav .phoneLogin .loginItem .loginLabel {
  width: 40px;
  height: 40px;
  float: left;
}
.login-page section nav .phoneLogin .loginItem .loginInput {
  line-height: normal;
  width: 165px;
  height: 40px;
  outline: none;
  border: none;
  margin: 0;
  text-indent: 4px;
  padding-right: 7px;
  float: left;
  background: transparent;
}
.login-page section nav .phoneLogin .loginItem .passwordInput {
  width: 165px;
  float: left;
}
.login-page section nav .phoneLogin .loginItem input[name='yzm'] {
  width: 60px ;
}
.login-page section nav .phoneLogin .loginItem span {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.login-page section nav .phoneLogin .checkboxItem {
  height: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: none;
  background: none;
  color: #7f7f7f;
  text-align: left;
}
.login-page section nav .phoneLogin .checkboxItem input {
  width: 14px;
  height: 14px;
  margin: 0;
  vertical-align: middle;
}
.login-page section nav .phoneLogin .checkboxItem b {
  height: 14px;
  line-height: 14px;
}
.login-page section nav .phoneLogin .submitBtn {
  margin-top: 0;
  background: #00b0fa;
  line-height: 40px;
  color: #fff;
  border-radius: 20px;
}
.login-page section nav .phoneLogin .submitBtn input {
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
}
.login-page section nav .phoneLogin .userIcon {
  background: url("/images/loginImages/user2.png") no-repeat center;
}
.login-page section nav .phoneLogin .pwdIcon {
  background: url("/images/loginImages/password-1.png") no-repeat center;
}
.login-page section nav .phoneLogin .yzmIcon {
  background: url("/images/loginImages/verify_2.png") no-repeat center;
}
.login-page section nav .phoneLogin .loginLine {
  width: 1px;
  height: 20px;
  margin-top: 10px;
  line-height: 40px;
  background: #ccc;
  float: left;
  background: url("/images/loginImages/line.png") no-repeat center;
}
.login-page section nav .phoneLogin .loginEye {
  cursor: pointer;
  width: 35px;
  height: 40px;
  background: url("/images/loginImages/eye2.png") no-repeat center;
}
.login-page footer {
  width: 100%;
  margin-top: 50%;
}
.login-page footer .footer {
  width: 520px;
  margin-left: 19.5%;
}
.login-page footer .scanTxt {
  font-size: 0.857142em;
  color: #333333;
  line-height: 35px;
}
.login-page footer .codeDiv {
  font-size: 0.857142em;
  color: #8a8a8a;
  float: left;
}
.login-page footer .codeDiv img {
  width: 100%;
}
.login-page footer .codeDiv p {
  margin-top: 7px;
}
.login-page footer .aboutCompany {
  margin-left: 23px;
  float: left;
  margin-top: 18px;
}
.login-page footer .aboutCompany p {
  font-size: 12px;
  text-align: left;
  line-height: 27px;
  color: #848484;
}
.login-page footer .toHref:hover {
  text-decoration: underline;
}
@media (min-width: 1920px) {
  .login-page .backScroll li {
    width: 100%;
    height: 100%;
  }
  .login-page .backScroll li img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1920px) {
  .login-page .backScroll li {
    left: calc((100% - 1920px) / 2);
    top: calc((100% - 1080px) / 2);
  }
}
