.operationBtn {
  display: inline-block;
  width: 50px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: white;
}
.operationBtn:hover {
  opacity: .9;
  color: #fff;
}
#modifyCamFrom,
#modifyCamFrom1 {
  display: flex;
}
#modifyCamFrom .modifyFromMd,
#modifyCamFrom1 .modifyFromMd {
  width: 1px;
  height: 146px;
  background: #e1e1e1;
  margin: 0 30px;
}
#modifyCamFrom select[disabled],
#modifyCamFrom1 select[disabled] {
  background: #fff;
  border: none;
}
#modifyCamFrom .eachRow,
#modifyCamFrom1 .eachRow {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
#modifyCamFrom .eachRow label,
#modifyCamFrom1 .eachRow label {
  display: inline-block;
  width: 80px;
  font-weight: normal;
  text-align: right;
  margin-right: 5px;
}
#modifyCamFrom .eachRow .eachInput,
#modifyCamFrom1 .eachRow .eachInput {
  width: 280px;
  height: 36px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  background: #fff;
}
#modifyCamFrom .eachRow .eachInput input,
#modifyCamFrom1 .eachRow .eachInput input {
  display: inline-block;
  width: 260px;
  height: 32px;
  border: none;
  outline: none;
  background: #fff;
}
#modifyCamFrom .eachRow .disabledDiv,
#modifyCamFrom1 .eachRow .disabledDiv {
  background: #fff;
  line-height: 32px;
  text-align: left;
  border: none;
}
#modifyCamFrom .eachRow .disabledDiv input,
#modifyCamFrom1 .eachRow .disabledDiv input {
  text-indent: 5px;
  background: #fff;
  border: none;
}
#modifyCameraModel {
  display: inline-block;
  width: 270px;
  height: 30px;
  outline: none;
  border: none;
}
#addCameraModel {
  display: inline-block;
  width: 270px;
  height: 30px;
  outline: none;
  border: none;
}
#modifyPlant,
#modifyPlant1 {
  display: inline-block;
  width: 270px;
  height: 32px;
  outline: none;
  border: none;
}
#addPlantId {
  display: inline-block;
  width: 270px;
  height: 30px;
  outline: none;
  border: none;
}
#addCamFrom1 {
  display: flex;
}
#addCamFrom1 .modifyFromMd {
  width: 1px;
  height: 146px;
  background: #e1e1e1;
  margin: 0 30px;
}
#addCamFrom1 .eachRow {
  display: flex;
  margin-bottom: 26px;
  align-items: center;
}
#addCamFrom1 .eachRow label {
  display: inline-block;
  width: 80px;
  font-weight: normal;
  text-align: right;
  margin-right: 5px;
}
#addCamFrom1 .eachRow .eachInput {
  width: 280px;
  height: 36px;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
}
#addCamFrom1 .eachRow .eachInput label {
  display: inline-block;
  width: 100%;
  color: #FF0E26 !important;
}
#addCamFrom1 .eachRow .eachInput label .error {
  margin-top: 5px;
  width: 100%;
}
#addCamFrom1 .eachRow .eachInput input {
  display: inline-block;
  width: 260px;
  height: 32px;
  border: none;
  outline: none;
}
#qrAddCam,
#qrDeleteUser,
#qrSavemodify {
  position: relative;
  display: inline-block;
  min-width: 50px;
  background: #01B1ED;
  height: 34px;
  padding-left: 40px;
  padding-right: 15px;
  color: #fff;
  border-radius: 4px;
  border: none;
}
#qrAddCam:before,
#qrDeleteUser:before,
#qrSavemodify:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 30px;
  left: 5px;
  top: 2px;
  height: 30px;
  background: url(/images/setting/save.png) no-repeat center;
  overflow: hidden;
}
#qrAddCam:hover,
#qrDeleteUser:hover,
#qrSavemodify:hover {
  color: #fff;
  opacity: .9;
}
.modifyCameraSNBox {
  background: #ebebe4;
}
.dataTables_wrapper .dataTables_paginate span .paginate_button {
  padding: 0.25em 1em !important;
}
.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
}
@media (max-width: 1920px) {
  .td-noWrap {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .td-noWrap.td-noWrap-time {
    max-width: 165px;
  }
}
@media (max-width: 1500px) {
  .td-noWrap {
    max-width: 90px;
  }
}
@media (max-width: 1366px) {
  .td-noWrap {
    max-width: 60px;
  }
}
.cameraWin {
  padding: 5px;
}
.cameraWin .progressBar {
  width: 98%;
  /* height: 50px; */
  position: relative;
  height: 14px;
  margin: 10px auto;
}
.cameraWin .progressMain {
  top: 6px;
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  overflow: hidden;
}
.cameraWin .VideoSplitLine {
  position: absolute;
  width: 10px;
  height: 14px;
  z-index: 99;
  left: -5px;
  background: url("/images/loding1.png");
}
.cameraWin .progressCon {
  position: absolute;
  background: #1a2334;
  width: 100%;
  height: 8px;
  left: 0;
  top: 0;
}
.cameraWin .progressCon span {
  height: 100%;
  float: left;
  display: inline-block;
}
.cameraWin .ctrol {
  background: #aad56c;
}
.cameraWin .disctrol {
  background: #434343;
}
.cameraWin .timePic {
  /* position: absolute; */
  /* top: 11px; */
  width: 98%;
  margin: 4px auto;
}
.cameraWin .timePic img {
  width: 100%;
}
.cameraWin .floatBox {
  position: absolute;
  z-index: 999;
  right: -7px;
  top: 50%;
  width: 107px;
  height: 48px;
}
.cameraWin .toHis {
  display: inline-block;
  width: 107px;
  height: 48px;
  background: url("/images/hosty1.png");
}
.cameraWin .toHis:hover {
  opacity: .9;
}
.cameraWin .videoHisList {
  text-align: left;
  color: #019cec;
  margin: 20px 0;
  width: 95%;
  float: left;
}
.cameraWin .videoHisList input {
  background: transparent;
  padding: 2px 7px;
  border: 1px solid #019cec;
  color: #019cec;
  margin-left: 7px;
}
.cameraWin .videoHisList input:first-child {
  margin-left: 0;
}
.cameraWin .screenSet {
  width: 3%;
  text-align: center;
  float: right;
}
.camerapop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  text-align: center;
}
.cameraWin {
  position: absolute;
  z-index: 99;
  width: 1366px;
  height: 820px;
  border: 1px solid #0497e6;
  top: 70px;
  left: calc((100% - 1366px)/2);
  background: #000;
}
.cameraWin .closebtn {
  position: absolute;
  top: 10px;
  right: 18px;
  z-index: 100;
}
.cameraWin .top-tit {
  height: 56px;
  line-height: 65px;
  color: #00acea;
  font-size: 18px;
  padding-left: 7px;
  text-align: left;
}
.cameraWin .c-main {
  position: relative;
  width: 100%;
  min-height: 700px;
  z-index: 3;
}
.cameraWin .c-main .videoMain {
  width: 100%;
  height: 700px;
}
.cameraWin .c-main video,
.cameraWin .c-main object {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.cameraWin .c-main .floatBox {
  position: absolute;
  z-index: 999;
  right: -12px;
  top: 50%;
  width: 107px;
  height: 48px;
}
.cameraWin .c-main .toHis {
  display: inline-block;
  width: 107px;
  height: 48px;
  background: url("/images/toHosty.png");
}
.cameraWin .c-main .toHis:hover {
  opacity: .9;
}
.cameraWin .b-toolbar {
  height: 54px;
  text-align: center;
}
.cameraWin .b-toolbar .toolBarCon {
  float: right;
  margin-top: 15px;
}
.cameraWin .b-toolbar .cameraSw {
  margin-top: 15px;
  float: left;
}
.cameraWin .b-toolbar .cameraSw a {
  width: 64px ;
  height: 24px;
  line-height: 22px;
  border: 1px solid #b9b9b9;
  margin-left: 15px;
  margin-right: 0;
  color: #b9b9b9;
}
.cameraWin .b-toolbar .cameraSw a:hover {
  border-color: #019cec;
  color: #019cec;
}
.cameraWin .b-toolbar .cameraSw a.on {
  display: none;
}
.cameraWin .b-toolbar a {
  text-align: center;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.cameraWin .b-toolbar .switchSource {
  width: 64px ;
  height: 24px;
  line-height: 22px;
  border: 1px solid #b9b9b9;
  margin-right: 18px;
  color: #b9b9b9;
}
.cameraWin .b-toolbar .switchSource:hover {
  border-color: #019cec;
  color: #019cec;
}
.cameraWin .b-toolbar .switchSource.on {
  border-color: #019cec;
  color: #019cec;
}
.cameraWin .b-toolbar .switchScreen {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  background: url("/images/largeScreen/all_1.png") no-repeat center;
}
.cameraWin .b-toolbar .switchScreen.on {
  background: url("/images/largeScreen/all.png") no-repeat center;
}
.cameraWin .b-toolbar .switchScreen:hover {
  background: url("/images/largeScreen/all.png") no-repeat center;
}
