.contributionPart .flex {
  width: 97.5609%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
.contributionPart .flex .flex_center {
  display: flex;
  text-align: center;
  flex-flow: column;
  -webkit-align-items: center;
  align-items: center;
  box-align: center;
  justify-content: center;
}
.contributionPart .flex .flex_center div {
  margin-top: 19.2592%;
}
.contributionPart .flex .flex_center div img {
  margin: 0;
  width: 7.5rem;
}
.contributionPart .flex .flex_center b {
  font-size: 1.1428571rem;
  color: #f4d038;
  text-align: center;
  font-weight: bold;
}
.contributionPart .flex .flex_center span {
  font-size: 1rem;
  color: #01b4f1;
  text-align: center;
}
.contributionPart .flex_flex {
  flex: 1;
  justify-content: space-around;
}
